// Importing Variables
@use "custom";

// Importing "Open Sans" Font
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Open+Sans:wght@300;400&family=Space+Mono&display=swap');

// Sass Codes

%reset {
  margin: 0;
  padding: 0;
}

@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Global Varialbes
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  @extend %reset;
  @include flex();
  min-height: 100%;
  background: $primary;
}