// Importing Variables 
@use "custom";

// Sass Codes

%reset {
  margin: 0;
  padding: 0;
}

// Global Varialbes
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  @extend %reset;
  min-height: 100%;
}